*
!.bash_completion
!.bash_profile
!.bashrc
!.config/
!.config/*
!.config/1Password/ssh
!.config/1Password/ssh/*
!.config/gh/
!.config/gh/*
!.config/git/
!.config/git/*
!.config/nnn
!.config/nnn/
!.config/nnn/*
!.config/tmux/
!.config/tmux/*
!.config/wireshark/
!.config/wireshark/language
!.config/wireshark/profiles/
!.config/wireshark/profiles/*
!.config/wireshark/profiles/Test/
!.config/wireshark/profiles/Test/*
!.config/wireshark/recent
!.config/wireshark/recent_common
!.gitignore
!.profile
!.zfunc/
!.zfunc/*
!.zprofile
!.zshrc
!.zshrc.pre-oh-my-zsh
!Brewfile
.config/.DS_Store
.config/Code
.config/.gsd-keyboard.settings-ported
.config/gnome-initial-setup-done
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/user-dirs.dirs
.config/user-dirs.locale
.config/GNOME-xdg-terminals.list
.config/ubuntu-xdg-terminals.list
.config/xdg-terminals.list
.config/nvm